<html>
  <head>
    <title>Sessions | Explorer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <meta charset="utf-8"/>
  </head>
<body>
  <div>
    <ul>
      {{#each records}}
        <li><a href=''>{{ meta }}</a></li>
      {{/each}}
    </ul>
  </div>
</body>
</html>
